* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-image: url('https://images.pexels.com/photos/707582/pexels-photo-707582.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
}
.game-container{
    display: block;
    margin: 0 auto;
    height: 100%;
}
.title{
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    color: #595454;
}

#number-guess{
    display: block;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #595454;
    background: transparent;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
    outline: none;
}
.message{
    text-align: center;
    position: relative;
    top: 45%;
    font-size: 100px;
}
.counter-message{
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 200px;
    color: #595454;

}
.counter-number{
    font-size: 30px;
}
.history-number{
    font-size: 30px;
}
/*============= Modal ================*/
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a235c;
    height: 100vh;
}

.box-one {
    height: 400px;
    min-width: 600px;
    background-color: #0a58a4;
    animation-name: box-one;
    animation-duration: 2s;
}

@keyframes box-one {
    0% {
        transform: translateX(-800px);
    }
    100%{
        transform: translateX(0);
    }
}
.box-two{
    position: relative;
    right: 100px;
    height: 300px;
    min-width: 500px;
    background-color: #7b3c83;
    animation-name: box-two;
    animation-duration: 3s;
}

@keyframes box-two {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.modal-title{
    text-align: center;
    margin-top: 120px;
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 4px 7px #000;
    animation-name: title;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
}

@keyframes title {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-list{
    color: #fff;
    padding: 60px;
    animation-name: list;
    animation-duration: 3s;
}

@keyframes list {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.modal-list li{
    list-style: none;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 2px 4px #000;
}
.modal-btn{
    position: relative;
    right: 150px;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
    text-transform: uppercase;
    outline: none;
    background-color: #9e2525;
    color: #fff;
    animation-name: btn-anima;
    animation-duration: 3s;
}

@keyframes btn-anima {
    0% {
        opacity: 0;
        transform: translateY(-800px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-btn:hover {
    background-color: #e4e1e1;
    color: #000;
}

/*=========== End modal ============*/
.reset-btn{
    position: relative;
    top: 50%;
    display: block;
    margin: auto;
    width: 130px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    color: #fff;
    background: #000;
}
.reset-btn:hover{
    background: #fff;
    color: #000;
}
.reset-btn:active{
    position: relative;
    top: 50.2%;
}

/*========= Number of tries colors ==============*/

.green{
    color: #44a61d;
}
.orange{
    color: #e79e27;
}
.red{
    color: #bf2828;
}